.*
!.eslintignore
!.gitignore
!.eslintrc.js
!.babelrc
!.firebaserc
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
firebase/firebase.raw.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
